.square-box {
  position: absolute;
  width: 90%;
  height: 100%;
  background: rgb(5,194,106);
  background: radial-gradient(ellipse, rgba(5,194,106,1) 30%, rgba(9,121,39,1) 100%);

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 12px solid rgba(0,0,0,0.5);
  border-radius: 150px;
  box-shadow:
    inset 0 0 30px rgba(0,0,0,0.3),
    0 0 40px rgba(0,0,0,0.4);
}

.square-content {
  width: 60%;
}

.table-text {
  color: #FFF;
  font-weight: bold;
  font-size: 3vw;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.players {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.players .player {
  position: absolute;
  width: 20%;
}

.players .player.player-1 {
  top: 0px;
  left: 50%;
  transform: translatex(-50%) translatey(-95%);
}

.players .player.player-2 {
  top: 0px;
  right: 25%;
  transform: translatex(50%) translatey(-95%);
}

.players .player.player-3 {
  top: 20%;
  right: 3%;
  transform: translatex(50%) translatey(-50%);
}

.players .player.player-4 {
  bottom: 20%;
  right: 3%;
  transform: translatex(50%) translatey(50%);
}

.players .player.player-5 {
  bottom: 0%;
  right: 30%;
  transform: translatex(50%) translatey(95%);
}

.players .player.player-6 {
  bottom: 0%;
  left: 30%;
  transform: translatex(-50%) translatey(95%);
}

.players .player.player-7 {
  bottom: 20%;
  left: 3%;
  transform: translatex(-50%) translatey(50%);
}

.players .player.player-8 {
  top: 20%;
  left: 3%;
  transform: translatex(-50%) translatey(-50%);
}

.players .player.player-9 {
  top: 0%;
  left: 25%;
  transform: translatex(-50%) translatey(-95%);
}

.players .player .avatar {
  width: 10vh;
  height: 10vh;
  background-color: hsl(25, 30%, 35%);
  border-radius: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 3vw;
}

#main {
  position: absolute;
  width: 70%;
  aspect-ratio: 2.5/1;
  overflow: visible;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
