<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <thead>
      <tr class="bg-base-300 text-base-content/70 uppercase text-xs tracking-wider">
        <th>Name</th>
        <th>Game Type</th>
        <th>Blinds</th>
        <th>Buy-in</th>
        <th>Status</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover bg-primary/20 cursor-pointer">
        <td>Fred's first Poker game</td>
        <td>Hold'em</td>
        <td>.25/.50</td>
        <td>100.00</td>
        <td>Starts 10 Min</td>
        <td>12</td>
      </tr>
      <tr class="hover cursor-pointer">
        <td>Fred's second Poker game</td>
        <td>Hold'em</td>
        <td>.25/.50</td>
        <td>60.00</td>
        <td>2024-06-24 09:00 PM</td>
        <td>12</td>
      </tr>
      <tr class="hover cursor-pointer">
        <td>Fred's third, really really cool Poker game</td>
        <td>Hold'em</td>
        <td>1/2</td>
        <td>100.00</td>
        <td>2024-06-25 08:00 PM</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
</div>
