<table class="w-full table">
  <thead>
    <tr>
      <th class="px-4 py-2">Name</th>
      <th class="px-4 py-2 w-6">Game Type</th>
      <th class="px-4 py-2 w-5">Blinds</th>
      <th class="px-4 py-2 w-5">Buy-in</th>
      <th class="px-4 py-2 w-48">Status</th>
      <th class="px-4 py-2 w-2">Players</th>
    </tr>
  </thead>
  <tbody>
    <!-- You can loop through your games here -->
    <tr class="bg-secondary">
      <td class="px-4 py-2">Fred's first Poker game</td>
      <td class="px-4 py-2">Hold'em</td>
      <td class="px-4 py-2">.25/.50</td>
      <td class="px-4 py-2">100.00</td>
      <td class="px-4 py-2">Starts 10 Min </td>
      <td class="px-4 py-2">12</td>
    </tr>
    <tr>
      <td class="px-4 py-2">Fred's second Poker game</td>
      <td class="px-4 py-2">Hold'em</td>
      <td class="px-4 py-2">.25/.50</td>
      <td class="px-4 py-2">60.00</td>
      <td class="px-4 py-2">2024-06-24 09:00 PM</td>
      <td class="px-4 py-2">12</td>
    </tr>
    <tr>
      <td class="px-4 py-2">Fred's third, really really cool Poker game</td>
      <td class="px-4 py-2">Hold'em</td>
      <td class="px-4 py-2">1/2</td>
      <td class="px-4 py-2">100.00</td>
      <td class="px-4 py-2">2024-06-25 08:00 PM</td>
      <td class="px-4 py-2">7</td>
    </tr>
    <!-- End of loop -->
  </tbody>
</table>
