.playing-card {
  --width: 120px;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
}