<div class="flex-grow w-full h-full">
  <div class="flex flex-row">
    <app-card cardSuit="CLUBS" cardValue="2" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="3" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="4" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="5" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="6" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="7" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="8" [isHidden]="true"></app-card>
    <app-card cardSuit="CLUBS" cardValue="9" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="10" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="JACK" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="QUEEN" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="KING" [isHidden]="false"></app-card>
    <app-card cardSuit="CLUBS" cardValue="ACE" [isHidden]="false"></app-card>
  </div>
  <div class="flex flex-row">
    <app-card cardSuit="DIAMONDS" cardValue="2" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="3" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="4" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="5" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="6" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="7" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="8" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="9" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="10" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="JACK" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="QUEEN" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="KING" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="ACE" [isHidden]="false"></app-card>
  </div>
  <div class="flex flex-row">
    <app-card cardSuit="HEARTS" cardValue="2" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="3" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="4" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="5" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="6" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="7" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="8" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="9" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="10" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="JACK" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="QUEEN" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="KING" [isHidden]="false"></app-card>
    <app-card cardSuit="HEARTS" cardValue="ACE" [isHidden]="false"></app-card>
  </div>
  <div class="flex flex-row">
    <app-card cardSuit="SPADES" cardValue="2" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="3" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="4" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="5" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="6" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="7" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="8" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="9" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="10" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="JACK" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="QUEEN" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="KING" [isHidden]="false"></app-card>
    <app-card cardSuit="SPADES" cardValue="ACE" [isHidden]="false"></app-card>
  </div>
  <!-- <app-navigation-bar></app-navigation-bar>
  <router-outlet></router-outlet> -->
</div>