<div class="card">
  <h1 class="mb-4 text-3xl font-bold text-center">Fred's first Poker game</h1>
  <hr class="mb-4 border-t-2 border-primary" />
  <div class="content">
      <div class="flex justify-between">
          <div>
              <p>Game Type:</p>
              <p>Game Time:</p>
              <p>Game Buy-In:</p>
              <p>Game Blinds:</p>
              <p>Game Rules:</p>
          </div>
          <div>
              <p>Hold'em</p>
              <p>Game name goes here</p>
              <p>Jun 12 9:00 PM </p>
              <p>1/2</p>
              <p>.25</p>
              <p>,50</p>
          </div>
      </div>
  <hr class="mt-4 mb-4 border-t-2 border-primary" />
  <div class="actions flex items-center justify-center gap-2">
      <button class="btn btn-secondary" type="button">Register</button>
      <button class="btn btn-primary" type="button">Join</button>
  </div>
</div>
