<div class="player player-left grid grid-cols-[60%_40%]">
  <div class="col-span-2 grid grid-cols-2 w-full pr-4 pl-4">
    <app-card cardSuit="DIAMONDS" cardValue="10" [isHidden]="false"></app-card>
    <app-card cardSuit="DIAMONDS" cardValue="JACK" [isHidden]="false"></app-card>
  </div>
  <div class="player-details bg-red-600">
    <div class="flex justify-center">Player 1</div>
    <div class="flex justify-center">40 BB</div>
  </div>
  <div class="player-avatar rounded-full">
    <img src="../../assets/nod2.gif">
  </div>
</div>