<app-modal [options]="modalOptions" >
  <form class="content" id="modal-form" [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <div class="mb-4 grid grid-cols-3 gap-2 items-center">
      <label class="label block text-right" for="username">
        Username
      </label>
      <input
        class="input input-primary col-span-2 w-full max-w-xs"
        id="username"
        formControlName="username"
        type="text"
        placeholder="Username"
      />
      <label class="label block text-right" for="password">
        Password
      </label>
      <input
        class="input input-primary col-span-2 w-full max-w-xs"
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
      <!-- <p class="col-start-2 col-span-2 bg-error pl-4 text-error-content rounded-md">
        {errors.password.message}
      </p> -->
    </div>
  </form>
</app-modal>
