<div class="bg-base-100 flex flex-col items-center justify-between p-5 space-y-4">
  <h1 class="text-4xl font-bold tracking-tight text-primary sm:text-6xl">
    Chico Degens Poker Club
  </h1>
  <div class="h-auto">
    <img
      class="max-w-md rounded-lg shadow-2xl"
      src="../../assets/title.png"
      alt="Chico Degens Poker Club"
    />
  </div>
  <div class="flex items-center justify-center mb-4 gap-2">
    <button class="btn btn-secondary" (click)="setShowRegisterUser(true)">
      Register
    </button>
    <button class="btn btn-primary" (click)="setShowLogin(true)">
      Login
    </button>
  </div>
</div>

@if (showLogin) {
  <app-login-form [onCloseHandler]="onCloseLogin"></app-login-form>
}

@if (showRegisterUser) {
  <app-register-user [onCloseHandler]="onCloseRegisterUser"></app-register-user>
}